
    h1 {
        text-align: center;
        color: green;
        }
    
    p {
        font-size: large;
        font-family: sans-serif;
        }

    h2 {
        color: rgb(141, 8, 182);
        margin-left: 100px;
        }

    p {
        font-size: large;
        font-family: sans-serif;
        margin-left: 100px;
        }

.aligncenter{text-align: center;} 

#goku2{
    float: right; margin:0 0 0 15px;
      }